{% extends 'base.html.twig' %}

{% block title %}New Compteur{% endblock %}

{% block body %}
    <h1>Create new Compteur</h1>

    {{ include('compteur/_form.html.twig') }}

    <a href="{{ path('compteur_index') }}">back to list</a>
{% endblock %}
