{% extends 'base.html.twig' %}

{% block title %}New Llivraison{% endblock %}

{% block body %}
    <h1>Create new Llivraison</h1>

    {{ include('llivraison/_form.html.twig') }}

    <a href="{{ path('llivraison_index') }}">back to list</a>
{% endblock %}
